{% extends 'base.html.twig' %}

{% block body %}

<div class="container" id="categories">
    <h2>Category list</h2>
    <div class="row">
        <div class="col-xs-3">
            <div class="md-form">
                <input type="text" class="search form-control" placeholder="Search here" />
            </div>
        </div>
        <div class="col-xs-6">
            <button class="sort btn btn-indigo" data-sort="id">
                Sort by id
            </button>
            <button class="sort btn btn-indigo" data-sort="name">
                Sort by name
            </button>
        </div>
    </div>
    <table id="categoryTable" class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="list">
        {% for category in categories %}
            <tr>
                <td class="id"><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                <td class="name">{{ category.name }}</td>
                <td>
                    <a class="blue-text" href="{{ path('category_show', { 'id': category.id }) }}"><i class="fa fa-user"></i></a>
                    <a class="teal-text" href="{{ path('category_edit', { 'id': category.id }) }}"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('category_new') }}">Create a new entry</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('node_modules/list.js/dist/list.js') }}"></script>
    <script>
        var options = {
            valueNames: ['id', 'name']
        };

        var categoryList = new List('categories', options);
    </script>
    <script type="text/javascript" src="{{ asset('plugins/jquery-pagination/scripts/jquery.table.hpaging.min.js') }}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function(){
            $("#categoryTable").hpaging({
                "limit": 10
            });
        });
    </script>
{% endblock %}