{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card text-xs-center">
            <div class="card-header default-color-dark white-text">
                Notepad creation
            </div>
            <div class="card-block">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Create" class="btn btn-primary btn-sm" />
                {{ form_end(form) }}

            </div>
            <div class="card-footer text-muted default-color-dark white-text">
                <p>Creating by: <i>{{ notepad.user }}</i></p>
            </div>
        </div>
        <a href="{{ path('notepad_index') }}" class="btn btn-default">Back to the list</a>
    </div>
{% endblock %}
